
*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

#front-page-container{
    display: grid;
    grid-template-areas: "header"
                         "main"
                         "aside"
                         "footer";
    grid-template-columns: 1fr;
    background-color: #FEF5ED;
}
header{
    grid-area: header;
}

#main-menu{
    position: absolute;

}

main{
    grid-area: main;
}

aside{
    grid-area: aside;
}

footer{
    grid-area: footer;
}

@media only screen and (min-width: 900px){

}